$colorRed: rgb(255, 0, 0);
$bodyColor: rgba(0, 0, 0, 0.953);
$colorWhite: rgb(255, 255, 255);
$colorGreen: rgb(12, 183, 12);
$colorBlue: #00ffff;
$colorBlack: #000000;
$colorAccordionItem: rgb(25, 25, 25);
$colorButton: rgb(35, 35, 35);
$colorButtonCollapsed: rgb(40, 40, 40);
$colorButtonAccordionFocus: rgba(0, 255, 255, 0.84);
$colorHoverCard: rgba(0, 255, 255, 0.6);
$colorCard: rgb(30, 30, 30);
$colorBoxShadowCard: rgba(0, 255, 255, 0.4);
$colorBoxShadowHover: rgba(12, 183, 12, 0.6);
$colorCardSubtitle: rgba(255, 255, 255, 0.7);

$imgWidth: 200px;
$imgHeight: 200px;

$fontFamilyVideoGames: 'Press Start 2P', sans-serif;
$fontFamilyMain: 'Tourney', sans-serif;